.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

~$*.doc*
~$*.xls*
~$*.ppt*
*.tmp

.obsidian/
.typora/
node_modules/
/export/
/dist/

*.bkp.bak
*.chk
*.staging
*.results
*.host
*.input

*.bak
*.dwl
*.dwl2
*.sv$

*.log
*.err
*.bak
*.old
*.tmp

.vscode/
.idea/
*.user
*.suo